Source: hdf5-vol-daos
Maintainer: DAOS <daos@daos.io>
Uploaders: Brian J. Murrell <brian.murrell@intel.com>
Section: devel
Priority: optional
Build-Depends: debhelper-compat (= 12),
               libdaos-dev,
               uuid-dev,
               libboost-dev,
               cmake,
               libhdf5-mpich-dev,
               libmpich-dev
Standards-Version: 4.4.1.0
Vcs-Browser: https://github.com/LLNL/dtcmp
Vcs-Git: https://github.com/LLNL/dtcmp.git
Homepage: https://github.com/LLNL/dtcmp.git

Package: libhdf5-vol-daos-mpich-1
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: HDF5 VOL DAOS connector is used to leverage the
 capabilities of the DAOS object storage system
 within an HDF5 application.  It translates HDF5 VOL
 storage related calls into native daos storage operations
 .
 This package contains the shared libraries for use with MPICH2.

Package: libhdf5-vol-daos-mpich-dev
Section: libdevel
Architecture: linux-any
Depends: libhdf5-vol-daos-mpich-1 (= ${binary:Version}), ${misc:Depends}
Description: HDF5 VOL DAOS connector is used to leverage the
 capabilities of the DAOS object storage system
 within an HDF5 application.  It translates HDF5 VOL
 storage related calls into native daos storage operations
 .
 This package is needed to compile programs against libhdf5-vol-daos-mpich-1.
 It contains the header files and links needed for compiling.
